{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>{{ article.title }}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
  {% include 'meta.html' %}
{% endblock %}

{% block content %}
<article>
  <div class="post-header">
    {% if article.featured_image %}
    <amp-img
      src="{{article.featured_image}}"
      width="1920"
      height="1080"
      layout="responsive"
      alt="an image">
    </amp-img>
    {% endif %}
    <h1>
      {{ article.title }}
    </h1>
  </div>
  <div class="post-body">

    {% if article.youtube %}
    <amp-youtube width="480"
      height="270"
      layout="responsive"
      data-videoid="QILiHiTD3uc">
    </amp-youtube>
    {% endif %}


    {% if article.podcast_url %}
      <amp-audio
      width="auto"
      height="50"
      src="{{article.podcast_url}}">
      <div fallback>
      <p>Your browser doesn’t support HTML5 audio</p>
      </div>
      </amp-audio>
    {% endif %}
    <p>
      {{article.summary}}
    </p>
    {{ article.content }}
  </div>
  <div class="post-footer">
    <p>
      Posted:
      <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.date|strftime('%B %-d, %Y') }}
      </time>
      <br>
      Written by <a href="https://twitter.com/{{AUTHOR_TWITTER}}">{{ AUTHOR_NAME }}</a>
      <br>
      {% if article.modified %}
        Modified:
        <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.modified|strftime('%B %-d, %Y') }}
        </time>
      {% endif %}
      {% if article.category %}
        Category: <a href="{{SITEURL}}/{{article.category.url}}">{{ article.category }}</a>
      {% endif %}
      {% if article.tags %}
        <br>
        Tags:
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}

        {% endfor %}
      {% endif %}


    </p>

  </div>
</article>

{% endblock %}
