<!doctype html>
<html ⚡>
<head>
    {% block head %}

    {% if article %}
      <title>{{ article.title }}</title>
    {% else %}
      <title>{{ SITENAME }}</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {% include 'amp.html' %}
    {% include 'styles.html' %}
    {% include 'feeds.html' %}
    {% endblock head %}
</head>

<body>
  <div class="main-wrapper">
    {% include 'header.html' %}
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>


  </div>
  {% include 'footer.html' %}
</body>
</html>
