<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  {% block head %}
  {% endblock head %}
  {% include 'amp.html' %}
  {% include 'styles.html' %}
  {% include 'feeds.html' %}
</head>

<body>
  <div class="main-wrapper">
    {% include 'header.html' %}
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>


  </div>
  {% include 'footer.html' %}
  <amp-analytics type="googleanalytics">
    <script type="application/json">
    {
      "vars": {
        "account": "{{GA_PROPERTY_ID}}"
      },
      "triggers": {
        "trackPageviewWithCustomUrl": {
          "on": "visible",
          "request": "pageview",
        }
      }
    }
    </script>  </amp-analytics>
</body>
</html>
