<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style amp-custom>
    html {
        overflow-y: scroll;
    }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }

    h1,
    p {
        margin-top: .5em;
        margin-bottom: .25em;
    }

    h1 {
        font-size: 1.618em;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 1.194em;
    }

    h3 {
        font-size: 1.194em;
    }

    p {
        font-size: 1em;
    }

    .menu {}

    .menu-row {
        display: flex;
    }

    .menu-item {
        font-size: 1em;
        text-align: center;
        flex: 1;
        border: solid 1px white;
        background: black;
    }

    .menu-item a {
        display: block;
        padding: .25em;
    }

    .menu-item a:link {
        color: white;
        text-decoration: none;
    }

    .menu-item a:hover {
        font-weight: bold;
        color: black;
        background: white;
    }

    header {}

    .header-title {
        font-size: 1.618em;
        font-weight: bold;
        text-align: center;
    }

    .header-title a {
        display: block;
        color: black;
    }

    .header-title a {
        display: block;
        text-decoration: none;
    }

    .main-wrapper {
        max-width: 50em;
        margin: auto;
    }

    .main-content {
        margin-left: .25em;
        margin-right: .25em;
        padding-bottom: 5em;
    }

    .main-content p {
        text-align: justify;
    }

    footer {
        color: white;
        text-align: center;
        background-color: black;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 50em;
        margin: auto;
        padding: .25em;
    }

    .post-header p {
      text-align: center;
    }

    .post-footer p {
        font-weight: bold;
    }

    footer a {
        display: block;
        color: white;
    }
</style>
